<!doctype html>
<html class="fsvs demo" lang="zh">
<head>
<meta charset="UTF-8">
<title>萌宠日记</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="stylesheet" href="css/login-default.css">
<link rel="stylesheet" href="css/login-style.css">
<script src="js/vendor/jquery.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/jquery.swipe-events.js"></script>
<script src="js/prismjs.js"></script>
<script src="js/fsvs.js"></script>
<script src="js/main.js"></script>
</head>
<body>
<div id="fsvs-body">
  <div class="slide" id="fsvs-initial-setup">
    <div class="slide1">
      <div class="container">
        <div class="top">
          <DIV class="logo"> </DIV>
          <div class="pull-right">
            <div class="btn btn-login">登录</div>
            <DIV class="btn btn-register">注册</DIV>
          </div>
        </div>
        <div class="login-form">
          <div class="login-text"> <img src="img/login_text.png"> </div>
          <div class="form-input">
            <input class="form-control input-lg" placeholder="手机号">
            <input class="form-control input-lg" placeholder="密码">
          </div>
          <div class="btn btn-primary mt20 btn-block btn-lg"> 登录 </div>
          <a href="#" class="forget-pwd">忘记密码?</a> </div>
      </div>
    </div>
  </div>
  <div class="slide" id="basic-html-setup">
    <DIV class="slide2">
      <div class="container">
        <div class="slide-text"> <img src="img/slide2_text.png"> </div>
      </div>
    </DIV>
  </div>
  <div class="slide">
    <div class="slide3">
      <div class="container">
        <div class="slide-text"> <img src="img/slide3_text.png"> </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide4">
      <div class="container">
        <div class="slide-text"> <img src="img/slide4_text.png"> </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide5">
      <div class="container">
        <div class="slide-text"> <img src="img/slide5_text.png"> </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>